#title {
    background: lightblue;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
}
#navigation {
    margin-left: 110px;
}
#post {
    background: #aaa;
}
#content{
    margin-left: 150px;
    margin-right: 150px;
}
#navigation li{
    display: inline-block;
    background-color: lightblue;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.sidebarLeft{
    float:left;
    border-radius: 5px;
    padding: 10px;
    margin:10px;
    width: 100px;
    text-indent: left;
    border: solid;
}
.sidebarLeft li {
    margin-left: -40px;
}